
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HolaMundo</title>
</head>
<body>
    <h1>HOLA MUNDO!! DESDE .NET CORE</h1>
</body>
</html>
