@model _07_DatosAControlador.Models.clsPersona
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>
    <div>
        <h2>PersonaModificada</h2>

        @Model.Nombre <br />
        @Model.PrimerApellido <br />
        @Model.SegundoApellido <br />
        @Model.FechaNacimiento <br />
    </div>
</body>
</html>
