

@model _06_DatosAControlador.Models.clsPersona

<h2>Editar</h2>

<form method="post">
    <input type="text" name="nombre" value="@Model.Nombre" />
    @Html.TextBox("primerApellido", Model.PrimerApellido)
    @Html.TextBoxFor(sa => Model.SegundoApellido)
    @Html.TextBoxFor(fe => Model.FechaNacimiento)
</form>



