
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href='@Url.Action("listadoProductos", "Productos")'>Ir al listado</a>
        <a href="/Productos/listadoProductos">Ir al listado sin razor</a>
    </div>
</body>
</html>
