
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>listadoProductos</title>
</head>
<body>
    <div>
        <h2>listadoProductos</h2>
        <ul>
            <li>Lechuga</li>
            <li>Tomate</li>
            <li>Apio</li>
            <li>Puerro</li>
            <li>Sandia</li>
            <li>Manzana</li>
        </ul>

    </div>
</body>
</html>
